.cards{
    margin: auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-info{
    display: flex;
    justify-content: left;
    gap: 20px;
}
button{
    background-color: white;
    border: none;
}
.star{
    width: 20px;
}
.stars{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.img{
    width: 100px;
}
.checkbox{
    display: none;
}